<! DOCTYPE html >
<html lang="en">
<head>
  <title>MovieTime!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- 
  {% load staticfiles %}
  <link href="{% static "datepicker/css/bootstrap.css" %}" rel="stylesheet">
  --->
<style>
.label-project {
    background-color:#0099ff;
    color:#ffffff;
}

</style>

</head>
<body>

<nav class="navbar-static navbar-inverse">
  <div class="container">
    
    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      
      <a href="{% url 'movies:index' %}" class="navbar-brand">
	  <font color="dodgerblue">M</font>ovie<font color="white">T</font>ime!<sup><font color="orange">(beta)</font></sup>
      </a>
      <!--
      <a href="{% url 'movies:index' %}" class="navbar-brand">
        <font size=-1>[ <font color="dodgerblue">{{ user.get_username }}</font> ]</font>
      </a>
      -->
    </div>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
	<!-- Dropdown menu -->
	<li ><a href="{% url 'movies:home' %}">Home</a></li>

	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists<span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <li><a href="#">Watch List</a></li>
	    <li><a href="{% url 'movies:votelist' %}">My Votes</a></li>
	  </ul>
	</li>

	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vote<span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <li><a href="{% url 'movies:votemovie' %}">Movies</a></li>
	    <li><a href="#">Actors</a></li>
            <li><a href="#">Directors</a></li>
            <li><a href="#">Writers</a></li>
	  </ul>
	</li>

	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore<span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li><a href="#">Movies</a><li>
	    <li><a href="#">Actors</a></li>
            <li><a href="#">Directors</a></li>
            <li><a href="#">Writers</a></li>
	  </ul>
	</li>

	
	<li ><a href="{% url 'movies:about' %}">About</a></li>
	
      </ul>


      


      <!-- align Right -->
      <ul class="nav navbar-nav navbar-right">
	<li><a href="{% url 'movies:userlogout' %}">Logout</a></li>
      </ul>


    </div>
  </div>
</nav>

<div  style="width=100%;height:2px;background-color:dodgerblue;">&nbsp;</div>
<div class="hidden-xs" style="margin: 0; padding: 0; width:100%; background: url('http://static.movietime.co/Banner_Small.png')">
<p>&nbsp;
  <!--  text-shadow: 0px 0px 10px black  -->
  <center><p style="color:white; text-shadow: 0px 0px 20px navy;"><font size=+3>A Personalized Guide to the Movies</font></center>
<p>&nbsp;
</div>

<div class="hidden-sm hidden-md hidden-lg" style="margin: 0; padding: 0; background: url('http://static.movietime.co/Banner_Small.png'); background-size: 100%; background-repeat: no-repeat;">
<p>&nbsp;<p>&nbsp;
</div>



{% block content %}{% endblock %}


</body>
</html>
