{% extends "movies/base_in.html" %}

{% block content %}

<div class="container fluid">

  <div>
    <font size=+2>
      <a style="color:black" href="{% url 'movies:votelist' %}"><i class="fa fa-arrow-left"></i> Back to voting summary</a><br/>
      <a style="color:black" href="{% url 'movies:home' %}"><i class="fa fa-home"></i> Back Home</a>
    </font>
  
  </div>
  <div class="row">
    <div class="col col-xs-12">
      {% if goodmovies %}
      <h3>Movies I've enjoyed:</h3>
      {% for movie in goodmovies %}
      <div class="col col-xs-12">
	<p><a href="{% url 'movies:moviedetail' movie.id %}?origin=lists">{{movie.title}} ({{movie.year}})</a>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

</div>

<p>&nbsp;
<p>&nbsp;


{% endblock %}




