{% extends "movies/base_in.html" %}


{% block content %}

<p>&nbsp;

<div class="container fluid">

  <div class="row">
    <div class="col col-sm-12">
      <p>Welcome to MovieTime! </p>
    </div>
  </div>

  <div class="well col-sm-4 col-sm-offset-1">
    <a href="{% url 'movies:vote' %}"><i class="fa  fa-check"></i>&nbsp;&nbsp; <font size=+1>Vote</font></a>
  </div>

  <div class="well col-sm-4 col-sm-offset-2">
    <a href="#"><i class="fa  fa-video-camera"></i>&nbsp;&nbsp; <font size=+1>Watch</font></a>
  </div>

  <div class="well col-sm-4 col-sm-offset-1">
    <a href="{% url 'movies:lists' %}"><i class="fa  fa-list"></i>&nbsp;&nbsp; <font size=+1>My Lists</font></a>
  </div>

  <div class="well col-sm-4 col-sm-offset-2">
    <a href="#"><i class="fa  fa-search"></i>&nbsp;&nbsp; <font size=+1>Explore</font></a>
  </div>  
</div>

<p>&nbsp;
<p>&nbsp;


{% endblock %}




