{% extends "movies/base_in.html" %}


{% block content %}

<p>&nbsp;

<div class="container fluid">

  <div class="well col-sm-4 col-sm-offset-1">
    <a href="{% url 'movies:vote' %}"><i class="fa fa-3x fa-check"></i>&nbsp;&nbsp; <font size=+3>Vote</font></a>
  </div>

  <div class="well col-sm-4 col-sm-offset-2">
    <a href="#"><i class="fa fa-3x fa-video-camera"></i>&nbsp;&nbsp; <font size=+3>Watch</font></a>
  </div>

  <div class="well col-sm-4 col-sm-offset-1">
    <a href="#"><i class="fa fa-3x fa-list"></i>&nbsp;&nbsp; <font size=+3>My List</font></a>
  </div>

  <div class="well col-sm-4 col-sm-offset-2">
    <a href="#"><i class="fa fa-3x fa-search"></i>&nbsp;&nbsp; <font size=+3>Explore</font></a>
  </div>  
</div>

<p>&nbsp;
<p>&nbsp;


{% endblock %}




