{% extends "movies/base_out.html" %}


{% block content %}
<div class="container fluid">
<p>&nbsp;
<p><b><font color="dodgerblue">M</font>ovieTime!</b> is a website that helps people discover and explore movies, writers, actors, and directors. 

<p>Discovery is powered by a collaborative filtering algorithm to pair users and critics.

<p>It is an MVC based site built on django, MySql, and Bootstrap, developed by Casey Meakin as a side project.

<p>&nbsp;
<p>The <em>to do</em> list (<font color="#999">in progress</font>):
<ul>
<li>Login to see the <em>to do list</em>!
</ul>

</div>

<p>&nbsp;
<p>&nbsp;


{% endblock %}




