<! DOCTYPE html >
<html lang="en">

<head>

  <title>MovieTime!</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- google webfonts -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  
  <!-- webui-popover -->
  <script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.3/jquery.webui-popover.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.3/jquery.webui-popover.min.css">
  
  {% block headmatter %}{% endblock %}
  
  <style>
    .label-project {
    background-color:#0099ff;
    color:#ffffff;
    }
    .username-font {
    font-family: 'Play', sans-serif;
    background: #f0f8ff;
    /* background: #ffffCC; */
    }
  </style>
  
</head>
<body>


<nav class="navbar-static navbar-inverse">

  <div class="container-fluid">
    
    <!-- Logo and Hamburger Menu Button -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a href="{% url 'movies:index' %}" class="navbar-brand">
	<font color="dodgerblue">M</font>ovie<font color="white">T</font>ime!<sup><font color="orange">(beta)</font></sup>
      </a>
    </div>
    

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="mainNavBar">

      <ul class="nav navbar-nav navbar">

	<li><a href="{% url 'movies:home' %}">Home</a></li>
	<li><a href="{% url 'movies:recommend' %}">Recommend</a></li>

	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	    Lists <i class="fa fa-caret-down"></i></a>
	  <ul class="dropdown-menu">
	    <li><a href="{% url 'movies:watchlist' %}">Watch List</a></li>
	    <li><a href="{% url 'movies:votelist' %}">My Votes</a></li>
	  </ul>
	</li>

	<li><a href="{% url 'movies:randommovie' %}">Vote</a></li>  
	<li ><a href="{% url 'movies:about' %}">About</a></li>
	
      </ul>

      <ul class="nav navbar-nav navbar-right">
	<li><a href="{% url 'movies:userlogout' %}">Logout</a></li>
      </ul>
      

    </div>
  </div>
</nav>



<div  style="width=100%;height:2px;background-color:dodgerblue;">&nbsp;</div>
<div class="hidden-xs" style="margin: 0; padding: 0; width:100%; background: url('http://static.movietime.co/Banner_Small.png')">
<p>&nbsp;
  <!--  text-shadow: 0px 0px 10px black  -->
  <center><p style="color:white; text-shadow: 0px 0px 20px navy;"><font size=+3>A Personalized Guide to the Movies</font></center>
<p>&nbsp;
</div>

<div class="hidden-sm hidden-md hidden-lg" style="margin: 0; padding: 0; background: url('http://static.movietime.co/Banner_Small.png'); background-size: 100%; background-repeat: no-repeat;">
<p>&nbsp;<p>&nbsp;
</div>



<div class="container fluid">

  <div class="row">
    <div class="col col-sm-10 col-sm-offset-1">

      <form action="{% url 'movies:search' %}" method="get" id="search">
	<div class="input-group">
          <input type="text" name="search_text" class="form-control input input-lg" placeholder="Search movies..." />
          <span class="input-group-btn">
            <button class="btn btn-secondary btn-info btn-lg" type="submit" form="search">
	      <i class="fa fa-search"></i>&nbsp;
            </button>
          </span>
	</div>
      </form>

    </div>
  </div>
</div>

{% block content %}{% endblock %}


</body>
</html>
